.numberCircle {
  border-radius: 50%;
  padding: 3px 10px;
  background: #fff;
  border: 3px solid #666;
  color: #666;
  text-align: center;
  font-size:20px;
}

.register{
  background: -webkit-linear-gradient(bottom, #f05a2f, #f05a2f);

  padding: 3%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left a{
  border: none;
  border-radius: 1.5rem;
  padding: 4%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-bottom-left-radius: 10% 50%;
  margin-left: 5%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  margin-top: 5%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
#imgProudct img{
  width:60px;
  height:50px;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  .sidebar-toggle {
    display: none !important;
  }
}

.page-container {
  padding-left: 0px !important;
  padding-right: 280px !important;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 12pt "Tahoma";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 257mm;
  outline: 2cm #FFEAEA solid;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
      width: 210mm;
      height: 297mm;        
  }
  .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
}

.sidebar-menu>li>a {
  padding:0px !important
}

.sidebar {
  border-left: 1px solid gainsboro !important;
}

@media screen and (max-width: 1439px) and (min-width: 992px){

  .page-container {
    padding-right: 70px !important;
  }

}
@media screen and (max-width: 1439px) and (min-width: 992px)
{
  .page-container {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 1439px) and (min-width: 992px) {
  .is-collapsed .page-container {
    padding-right: 280px !important;
  }
}

body{
  text-align:right !important;
}
.sidebar-menu>li>a .icon-holder {
  right: 5px;
}

.is-collapsed .sidebar .sidebar-inner .sidebar-menu > li > a .title {
  margin: 5px !important; ;
}
.header .header-container .nav-left>li, .header .header-container .nav-right>li {
  float: right !important;
}

@media screen and (max-width: 1439px) and (min-width: 992px) {
  .sidebar:hover .sidebar-inner .sidebar-menu>li>a .title {
    display: inline-block;
    padding: 5px !important;
  }
}

@media screen and (max-width: 991px) {
  .is-collapsed .sidebar {
    right: 0 !important;
  }

  .page-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

}

.textCustome{
  color : #F05A2F !important;
  font-weight: 800;
  padding-top: 10px;
  padding-right: 5px !important;
}

input[type="email"]:-moz-placeholder {
    text-align: right !important;
    direction: rtl !important;
}
input[type="email"]:-ms-input-placeholder {
    text-align: right !important;
    direction: rtl !important;
}
input[type="email"]::-webkit-input-placeholder {
    text-align: right !important;
    direction: rtl !important;
}

input[type="password"]:-moz-placeholder {
  text-align: right !important;
  direction: rtl !important;
}
input[type="password"]:-ms-input-placeholder {
  text-align: right !important;
  direction: rtl !important;
}
input[type="password"]::-webkit-input-placeholder {
  text-align: right !important;
  direction: rtl !important;
}

.logo img {
  width: 60px !important;
  height: 60px !important;
  margin-right: 10px !important;
  padding: 5px;
}

.pos-a {
  position: absolute!important;
  margin-top: -5px !important;
  height:100px !important;
  #454748
}

.header .header-container .show .dropdown-menu {
  padding: 5px;
}


/* User Cards */
.user-box {
  width: 110px;
  margin: auto;
  margin-bottom: 20px;
  
}

.user-box img {
  width: 100%;
  height:100px;
  border-radius: 50%;
padding: 3px;
background: #fff;
-webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.profile-card-2 .card {
position:relative;
}

.profile-card-2 .card .card-body {
z-index:1;
}

.profile-card-2 .card::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  height: 112px;
  background-color: #e6e6e6;
}

.profile-card-2 .card.profile-primary::before {
background-color: #008cff;
}
.profile-card-2 .card.profile-success::before {
background-color: #15ca20;
}
.profile-card-2 .card.profile-danger::before {
background-color: #fd3550;
}
.profile-card-2 .card.profile-warning::before {
background-color: #ff9700;
}
.profile-card-2 .user-box {
margin-top: 30px;
}

.profile-card-3 .user-fullimage {
position:relative;
}

.profile-card-3 .user-fullimage .details{
position: absolute;
  bottom: 0;
  left: 0px;
width:100%;
}

.profile-card-4 .user-box {
  width: 110px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 15px;
}

.profile-card-4 .list-icon {
  display: table-cell;
  font-size: 30px;
  padding-right: 20px;
  vertical-align: middle;
  color: #223035;
}

.profile-card-4 .list-details {
display: table-cell;
vertical-align: middle;
font-weight: 600;
  color: #223035;
  font-size: 15px;
  line-height: 15px;
}

.profile-card-4 .list-details small{
display: table-cell;
vertical-align: middle;
font-size: 12px;
font-weight: 400;
  color: #808080;
}

/*Nav Tabs & Pills */
.nav-tabs .nav-link {
  color: #223035;
font-size: 12px;
  text-align: center;
letter-spacing: 1px;
  font-weight: 600;
margin: 2px;
  margin-bottom: 0;
padding: 12px 20px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;

}
.nav-tabs .nav-link:hover{
  border: 1px solid transparent;
}
.nav-tabs .nav-link i {
  margin-right: 2px;
font-weight: 600;
}

.top-icon.nav-tabs .nav-link i{
margin: 0px;
font-weight: 500;
display: block;
  font-size: 20px;
  padding: 5px 0;
}

.nav-tabs-primary.nav-tabs{
border-bottom: 1px solid #008cff;
}

.nav-tabs-primary .nav-link.active, .nav-tabs-primary .nav-item.show>.nav-link {
  color: #008cff;
  background-color: #fff;
  border-color: #008cff #008cff #fff;
  border-top: 3px solid #008cff;
}

.nav-tabs-success.nav-tabs{
border-bottom: 1px solid #15ca20;
}

.nav-tabs-success .nav-link.active, .nav-tabs-success .nav-item.show>.nav-link {
  color: #15ca20;
  background-color: #fff;
  border-color: #15ca20 #15ca20 #fff;
  border-top: 3px solid #15ca20;
}

.nav-tabs-info.nav-tabs{
border-bottom: 1px solid #0dceec;
}

.nav-tabs-info .nav-link.active, .nav-tabs-info .nav-item.show>.nav-link {
  color: #0dceec;
  background-color: #fff;
  border-color: #0dceec #0dceec #fff;
  border-top: 3px solid #0dceec;
}

.nav-tabs-danger.nav-tabs{
border-bottom: 1px solid #fd3550;
}

.nav-tabs-danger .nav-link.active, .nav-tabs-danger .nav-item.show>.nav-link {
  color: #fd3550;
  background-color: #fff;
  border-color: #fd3550 #fd3550 #fff;
  border-top: 3px solid #fd3550;
}

.nav-tabs-warning.nav-tabs{
border-bottom: 1px solid #ff9700;
}

.nav-tabs-warning .nav-link.active, .nav-tabs-warning .nav-item.show>.nav-link {
  color: #ff9700;
  background-color: #fff;
  border-color: #ff9700 #ff9700 #fff;
  border-top: 3px solid #ff9700;
}

.nav-tabs-dark.nav-tabs{
border-bottom: 1px solid #223035;
}

.nav-tabs-dark .nav-link.active, .nav-tabs-dark .nav-item.show>.nav-link {
  color: #223035;
  background-color: #fff;
  border-color: #223035 #223035 #fff;
  border-top: 3px solid #223035;
}

.nav-tabs-secondary.nav-tabs{
border-bottom: 1px solid #75808a;
}
.nav-tabs-secondary .nav-link.active, .nav-tabs-secondary .nav-item.show>.nav-link {
  color: #75808a;
  background-color: #fff;
  border-color: #75808a #75808a #fff;
  border-top: 3px solid #75808a;
}

.tabs-vertical .nav-tabs .nav-link {
  color: #223035;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 2px;
  margin-right: -1px;
  padding: 12px 1px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #dee2e6;
}

.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: 1px solid #dee2e6;
  border-right: 0;
  border-left: 1px solid #dee2e6;
}

.tabs-vertical-primary.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #008cff;
}

.tabs-vertical-primary.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-primary.tabs-vertical .nav-tabs .nav-link.active {
  color: #008cff;
  background-color: #fff;
  border-color: #008cff #008cff #fff;
  border-bottom: 1px solid #008cff;
  border-right: 0;
  border-left: 3px solid #008cff;
}

.tabs-vertical-success.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #15ca20;
}

.tabs-vertical-success.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-success.tabs-vertical .nav-tabs .nav-link.active {
  color: #15ca20;
  background-color: #fff;
  border-color: #15ca20 #15ca20 #fff;
  border-bottom: 1px solid #15ca20;
  border-right: 0;
  border-left: 3px solid #15ca20;
}

.tabs-vertical-info.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #0dceec;
}

.tabs-vertical-info.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-info.tabs-vertical .nav-tabs .nav-link.active {
  color: #0dceec;
  background-color: #fff;
  border-color: #0dceec #0dceec #fff;
  border-bottom: 1px solid #0dceec;
  border-right: 0;
  border-left: 3px solid #0dceec;
}

.tabs-vertical-danger.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #fd3550;
}

.tabs-vertical-danger.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-danger.tabs-vertical .nav-tabs .nav-link.active {
  color: #fd3550;
  background-color: #fff;
  border-color: #fd3550 #fd3550 #fff;
  border-bottom: 1px solid #fd3550;
  border-right: 0;
  border-left: 3px solid #fd3550;
}

.tabs-vertical-warning.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #ff9700;
}

.tabs-vertical-warning.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-warning.tabs-vertical .nav-tabs .nav-link.active {
  color: #ff9700;
  background-color: #fff;
  border-color: #ff9700 #ff9700 #fff;
  border-bottom: 1px solid #ff9700;
  border-right: 0;
  border-left: 3px solid #ff9700;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #223035;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-dark.tabs-vertical .nav-tabs .nav-link.active {
  color: #223035;
  background-color: #fff;
  border-color: #223035 #223035 #fff;
  border-bottom: 1px solid #223035;
  border-right: 0;
  border-left: 3px solid #223035;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs{
border:0;
border-right: 1px solid #75808a;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-link.active {
  color: #75808a;
  background-color: #fff;
  border-color: #75808a #75808a #fff;
  border-bottom: 1px solid #75808a;
  border-right: 0;
  border-left: 3px solid #75808a;
}

.nav-pills .nav-link {
  border-radius: .25rem;
  color: #223035;
  font-size: 12px;
  text-align: center;
letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
margin: 3px;
  padding: 12px 20px;
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 

}

.nav-pills .nav-link:hover {
  background-color:#f4f5fa;
}

.nav-pills .nav-link i{
margin-right:2px;
font-weight: 600;
}

.top-icon.nav-pills .nav-link i{
margin: 0px;
font-weight: 500;
display: block;
  font-size: 20px;
  padding: 5px 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #008cff;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 140, 255, 0.5);
}

.nav-pills-success .nav-link.active, .nav-pills-success .show>.nav-link {
  color: #fff;
  background-color: #15ca20;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(21, 202, 32, .5);
}

.nav-pills-info .nav-link.active, .nav-pills-info .show>.nav-link {
  color: #fff;
  background-color: #0dceec;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(13, 206, 236, 0.5);
}

.nav-pills-danger .nav-link.active, .nav-pills-danger .show>.nav-link{
  color: #fff;
  background-color: #fd3550;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(253, 53, 80, .5);
}

.nav-pills-warning .nav-link.active, .nav-pills-warning .show>.nav-link {
  color: #fff;
  background-color: #ff9700;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 151, 0, .5);
}

.nav-pills-dark .nav-link.active, .nav-pills-dark .show>.nav-link {
  color: #fff;
  background-color: #223035;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(34, 48, 53, .5);
}

.nav-pills-secondary .nav-link.active, .nav-pills-secondary .show>.nav-link {
  color: #fff;
  background-color: #75808a;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(117, 128, 138, .5);
}
.card .tab-content{
padding: 1rem 0 0 0;
}

.z-depth-3 {
  -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
  box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}