<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="theme-color" content="#4b7096">
  <title>گروه نرم افزاری دپاک</title>
  <meta content="ما با تکیه به تخصص خود آماده ارایه خدمات خود به کسب و کار شما هستیم." name="description">
  <meta content="نرم افزارهای تحت وب ، دیجیتال مارکتینگ ، میزبانی وب ، هاست رایگانینگ ، آموزش برنامه نویسی، داده پردازی ، وب سایت ، طراحی وب ، برنامه نویسی ، دپاک ،کویر " name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/font.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v4.2.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="h-100">
    
    <!-- ======= Header ======= -->
    <header id="header" class="h-15 fixed-top d-flex align-items-center" >
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo row pt-2">
          <div id="text" class="col-xs-6">
            <!--made by vipul mirajkar thevipulm.appspot.com-->
            <h1 class="text-center pb-1">
              
            <img src="assets/img/logo.png" width=42 height=50 /> 
              دپاک
              
              <p class="typewrite" data-period="2000" data-type='[ "داده پردازان آتی کویر", "توسعه نرم افزار", "دیجیتال مارکتینگ", "میزبانی وب" ]' style="color:gray;font-size: 12px !important;border-top: 2px solid #4B7096;margin-top:3px !important;padding: 10px 0px 0px 0px;">داده پردازان آتی کویر</p></h1>
          
            </div>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="active" href="index.html">صفحه اصلی</a></li>
            <li class="dropdown">
              <a href="#"><i class="bi bi-chevron-down"></i><span>خدمات ما</span> </a>
              <ul>
                <li><a href="team.html">طراحی وب سایت</a></li>
                <li><a href="team.html">خدمات هاستینگ</a></li>
                <li><a href="team.html">دیجیتال مارکتینگ</a></li>
                <li><a href="team.html">دوره های آموزشی</a></li>
              </ul>
            </li>
            <li><a href="portfolio.html">مشتریان ما</a></li>
            <li><a href="blog.html">مقاله های آموزشی</a></li>
            <li><a href="about.html">معرفی ما</a></li>

            <li><a class="getstarted" href="about.html">پنل کاربری</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

      <!-- ======= About Section ======= -->
      <section id="about" class="container-fluid p-5 text-center">
        <div class="homebox" data-aos="fade-right">
          
          <div class="row justify-content-center">
          <h1  class="depth">گروه نرم افزاری دپاک</h1>
          <hr class="bg-white col-md-6 ">
          <h2 class="depth">ما از فرسنگ ها دورتر آماده ارایه خدمات خود به شما هستیم.</h2>
          <div class="row bg-white p-2 " id="homeservices">
            <button type="button" class="col-md-3 btn btn-primary homeservices">طراحی وب سایت</button>
            <button type="button" class="col-md-3 btn btn-primary homeservices">دیجیتال مارکتینگ</button>
            <button type="button" class="col-md-3 btn btn-primary homeservices">خدمات هاستینگ</button>
            <button type="button" class="col-md-3 btn btn-success homeservices">دوره های آموزشی</button>
          </div>
          </div>
        </div>
      </section>

    <main id="main" class="fluid-container h-65">

      <section  class="fluid-container about services  p-3 bg-white">
        
        <div class="container bg-white p-1">
          

          <div class="">
            <div class="row">
            <div class="col-lg-4 video-box align-self-baseline position-relative mt-1">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
              <a href="https://www.bertina.ir/wp-content/themes/Bertina/video/hostVideo.mp4" class="glightbox play-btn mb-4"></a>
            </div>
            <div class="col-lg-8 pt-3 pt-lg-0 content">
              
              <h5 class="p-2">بیانه ماموریت</h5>
              <p class="">
                ما بنا داریم تا به تکیه به دانش فنی خود به کاربران خود خدماتی شایسته عرضه کنیم و به کمک کاربران خود بیایم تا بتوانیم به آنها در توسعه محوصلات و تبلیغ محوصلات و پشتیبانی درخور آنها برای آنها یک شریک تجاری مناسب باشیم.
              </p>

              <div class="row">
                
                <div class="col-md-3 aos-init aos-animate mb-2" data-aos="fade-up" data-aos-delay="100">
                  
                  <div class="icon-box count-box">
                    <p class="">مدت فعالیت</p>
                    <div class="icon">
                      <i class="bi bi-clock"></i>
                    </div>
                    
                    <p dir="" class="description">
                      <span id="demo"></span>
                    </p>
                  </div>
                </div>

                
                <div class="col-md-3 aos-init aos-animate mb-2" data-aos="fade-up" data-aos-delay="100">
                  
                  <div class="icon-box count-box">
                    <p class="">تعداد کاربران</p>
                    <p class="description">
                      <span data-purecounter-start="0" data-purecounter-end="0" class="purecounter">0</span>
                    </p>
                    <div class="icon">
                      <i class="bi bi-emoji-smile"></i>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 aos-init aos-animate mb-2" data-aos="fade-up" data-aos-delay="100">
                  
                  <div class="icon-box count-box">
                    
                    <p class="">خدمات فعال</p>
                    <p class="description">
                      <span data-purecounter-start="0" data-purecounter-end="0" class="purecounter">0</span>
                    </p>
                    <div class="icon">
                      <i class="bi bi-journal-richtext"></i>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-3 aos-init aos-animate mb-2" data-aos="fade-up" data-aos-delay="100">
                  
                  <div class="icon-box count-box">
                    
                    <p class="">افتخارات</p>
                    <div class="icon">
                      <i class="bi bi-award"></i>
                    </div>
                    <p class="description">
                    
                      <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter" data-purecounter-duration="0"><small class="iconFont">empty</small></span>  
                    </p>
                  </div>
                </div>


              </div>
            </div>
          </div>
  
          </div>
  
        </div>


      </section>

      <section id="pricing" class="pricing  about services fluid-container p-3 bg-white">
        <div class="container p-3">
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="box aos-init aos-animate" data-aos="fade-up">
                <h3>وب سایت معرفی کسب و کار</h3>
                <h4>۱,۵۰۰,۰۰۰<sup>تومان</sup></h4>
                <ul>
                  <li>زمان تحویل - ۲ هفته</li>
                  <li>قالب آماده - شخصی شده</li>
                  <li>پنل مدیریت - اختصاصی</li>
                  <li>دامنه ir - یکساله</li>
                  <li>هاست رایگان  - یکساله</li>
                  <li>آموزش رایگان  - ۱ ماه</li>
                  <li class="na">خدمات سو رایگان </li>
                  <li>پشتیبانی رایگان  - ۳ ماه</li>
                </ul>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">ثبت سفارش</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                
                <h3>وب سایت معرفی کسب و کار</h3>
                <h4>۳,۵۰۰,۰۰۰<sup>تومان</sup></h4>
                <ul>
                  <li>زمان تحویل - ۱ ماهه</li>
                  <li>طراحی قالب اختصاصی</li>
                  <li>پنل مدیریت - اختصاصی</li>
                  <li>دامنه ir - یکساله</li>
                  <li class="na">هاست رایگان </li>
                  <li>آموزش رایگان  - ۱ ماه</li>
                  <li>خدمات سو رایگان  − ۱ ماه </li>
                  <li>پشتیبانی رایگان  - ۳ ماه</li>
                </ul>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">ثبت سفارش</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <h3>فروشگاه اینترنتی</h3>
                <h4>۵,۰۰۰,۰۰۰<sup>تومان</sup></h4>
                <ul>
                  <li>زمان تحویل - ۱ ماهه</li>
                  <li>قالب آماده - شخصی شده</li>
                  <li>پنل مدیریت - اختصاصی</li>
                  <li>دامنه ir - یکساله</li>
                  <li class="na">هاست رایگان </li>
                  <li>آموزش رایگان  - ۱ ماه</li>
                  <li>خدمات سو رایگان  − ۱ ماه </li>
                  <li>پشتیبانی رایگان  - ۳ ماه</li>
                </ul>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">ثبت سفارش</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <span class="advanced">ویژه</span>
                <h3>فروشگاه اینترنتی</h3>
                <h4>۷,۰۰۰,۰۰۰<sup>تومان</sup></h4>
                <ul>
                  <li>زمان تحویل - ۲ ماهه</li>
                  <li>طراحی قالب اختصاصی</li>
                  <li>پنل مدیریت - اختصاصی</li>
                  <li>دامنه ir - یکساله</li>
                  <li class="na">هاست رایگان </li>
                  <li>آموزش رایگان  - ۳ ماه</li>
                  <li>خدمات سو رایگان  − ۳ ماه </li>
                  <li>پشتیبانی رایگان  - ۳ ماه</li>
                </ul>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">ثبت سفارش</a>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>

    </main><!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  </section><!-- End Hero -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/custome.js"></script>

</body>

</html>