@font-face {
  font-family: 'toman';
  src:  url('fonts/toman.eot');
  src:  url('fonts/toman.eot') format('embedded-opentype'),
    url('fonts/toman.ttf') format('truetype'),
    url('fonts/toman.woff') format('woff'),
    url('fonts/toman.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'toman' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smartphone:before {
  content: "\e91b";
}
.icon-access-denied:before {
  content: "\e91c";
}
.icon-back:before {
  content: "\e91d";
}
.icon-cellular-phone:before {
  content: "\e91e";
}
.icon-minus:before {
  content: "\e91f";
}
.icon-plus:before {
  content: "\e920";
}
.icon-down:before {
  content: "\e921";
}
.icon-iapps:before {
  content: "\e91a";
}
.icon-download2:before {
  content: "\e918";
}
.icon-download:before {
  content: "\e919";
}
.icon-copyright:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e90f";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-telegram:before {
  content: "\e902";
}
.icon-cv2:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-telegram2:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-qbit:before {
  content: "\e90a";
}
.icon-phone2:before {
  content: "\e917";
}
.icon-android:before {
  content: "\e915";
}
.icon-apple2:before {
  content: "\e916";
}
.icon-close:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-bazar:before {
  content: "\e912";
}
.icon-myket:before {
  content: "\e920";
}
.icon-apple:before {
  content: "\e913";
}
.icon-gplay:before {
  content: "\e914";
}
.icon-chevron-thin-right:before {
  content: "\e90b";
}
.icon-chevron-thin-up:before {
  content: "\e90c";
}
.icon-chevron-thin-left:before {
  content: "\e90d";
}
.icon-chevron-thin-down:before {
  content: "\e90e";
}
